# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-start.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment variables
.env
.env.*
*.env

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.cursor/

frontend_old/
aitutor-chore-ui-revamp_v2/

questionbankscrapper/

# Build output
frontend/build/
